<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Serviço Esterno-->
    <add key="BaseUrlApi" value="https://clinica-unip.herokuapp.com/clinica/" />
    <!--Serviço Local-->
    <!--<add key="BaseUrlApi" value="http://localhost:8080/clinica/" />-->
  </appSettings>
</configuration>