

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.min.css" rel="stylesheet" media="print" />

<style>
    .fc-today {
        background-color: #ccc !important;
        font-weight: bold;
    }
    .fc-event {
        cursor: pointer;
    }
    .fc-day-header {
        /*background-color: #ddd;*/
    }   
</style>

<div id="calendario" class="calendario"></div>


<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script src="~/Scripts/locale/pt-br.js"></script>

<script>

    var calendario = {        

        configuraCalendario: function (events) {
            
            $('#calendario').fullCalendar({
                timeFormat: 'H:mm',
                header: {
                    left: 'customPrevButton,customNextButton  today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventLimit: true,                
                eventColor: '#378006',
                events: events,
                dayClick: function (date, jsEvent, view, resourceObj) {
                    console.log('Date: ' + date.format("DD/MM/YYYY"));
                },
                eventClick: function (calEvent, jsEvent, view) {

                    var evento = {
                        IdConsulta: calEvent.id,
                        Titulo: calEvent.title,
                        Descricao: calEvent.description,
                        ComecaEm: calEvent.start.format("DD/MM/YYYY HH:mm"),
                        TerminaEm: calEvent.end.format("DD/MM/YYYY HH:mm")
                    };
                    
                    calendarioAgenda.visualizarEventoCalendario(evento);
                },
                customButtons: {
                    customPrevButton: {
                        text: '<',
                        click: function () {                            
                            $('#calendario').fullCalendar('prev');
                            calendario.carregaPorMes();
                        }                        
                    },
                    customNextButton: {
                        text: '>',
                        click: function () {                            
                            $('#calendario').fullCalendar('next');
                            calendario.carregaPorMes();
                        }
                    }
                }
            });
        },

        atualizaCalendario: function (eventos) {
            $("#calendario").fullCalendar('removeEvents');
            $("#calendario").fullCalendar('addEventSource', eventos);
            $("#calendario").fullCalendar('rerenderEvents');
        },

        carregaPorMes: function () {
           
            var moment = $('#calendario').fullCalendar('getDate');
            var dataInicio = moment.format("L");

            calendarioAgenda.carregaCalendarioMes(dataInicio);
            $('#calendario').fullCalendar('refetchEvents');
        }

    };

</script>
