

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />

<style>
    .fc-today {
        background-color: #ccc !important;
        font-weight: bold;
    } 
</style>

<div id="calendario"></div>


<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script src="~/Scripts/locale/pt-br.js"></script>

<script>
    $(document).ready(function () {

        $('#calendario').fullCalendar({
            header: {
                left: 'prev,next,today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            }
        });

    });
</script>
