@{
    var user = (TCC_Unip.Models.Servico.Usuario)ViewBag.Usuario;
}

@if (user != null)
{    
    <link href="~/Content/css/tabsAgenda.css" rel="stylesheet" />

    <div class="row">
        <div class="col-md-12">
            <div style="text-align: right">
                <button type="button" class="btn btn-primary" id="btnNovaConsulta">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nova Consulta
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <span>Opções Pesquisa</span>
            <br />
        </div>
        <div class="col-md-12 col-sm-12" style="padding-top: 2%">
            <div>
                <form>
                    <ul id="abas">
                        <li>
                            <a href="#" name="abaCalendario" class="abaCalendario" carregado="false">
                                Calendário
                            </a>
                        </li>
                        <li>
                            <a href="#" name="abaGridConsultas" class="abaGridConsultas" carregado="false">
                                Listagem
                            </a>
                        </li>
                    </ul>
                    <div id="conteudo">
                        <div id="abaCalendario">Div Calendário</div>
                        <div id="abaGridConsultas"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>    

    <script>

        $(document).ready(function () {
            $("#conteudo").find("[id^='aba']").hide(); // Hide all conteudo
            $("#abas li:first").attr("id", "current"); // Activate the first aba
            $("#conteudo #abaCalendario").fadeIn(); // Show first aba's conteudo

            $('#abas a').click(function (e) {
                e.preventDefault();

                if ($(this).closest("li").attr("id") === "current") { //detection for current aba
                    return;
                }
                else {

                    $("#conteudo").find("[id^='aba']").hide(); // Hide all conteudo
                    $("#abas li").attr("id", ""); //Reset id's
                    $(this).parent().attr("id", "current"); // Activate this
                    $('#' + $(this).attr('name')).fadeIn(); // Show conteudo for the current aba
                }
            });
        });

    $("#btnNovaConsulta").on('click', function () {
        listagemAgenda.modalCadastrar();
    });

    $('#abas a').click(function (e) {
        e.preventDefault();
        listagemAgenda.carregaDivDaTab(this);
    });

    var listagemAgenda = {

        modalCadastrar: function () {
            $.ajax({
                url: "@Url.Action("ModalCadastrar", "Agenda")",
                type: "GET",
                success: function (html) {
                    bootbox.dialog({
                        title: "Cadastrar Consulta",
                        message: html
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        carregaDivDaTab: function (object) {

            var carregado = $(object).attr("carregado");
            var tabName = $(object).attr('name');

            if (tabName === 'abaCalendario') {

                if (carregado === undefined || carregado === "false") {
                    listagemAgenda.listaAgendaCalendario(object, true);
                }
            }
            else if (tabName === 'abaGridConsultas') {
                if (carregado === undefined || carregado === "false") {
                    listagemAgenda.listaAgendaGrid(object, true);
                }
            }

        },

        listaAgendaCalendario: function (object, getFromSession) {

        },

        listaAgendaGrid: function (object, getFromSession) {

            listagemAgenda.getAgendaDoDia(object, getFromSession);
        },

        getAgendaDoDia: function (object, getFromSession) {

            $.ajax({
                url: "@Url.Action("ListaAgendaDoDia", "Agenda")",
                data: { getFromSession: getFromSession },
                type: "GET",
                success: function (result) {                   
                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#abaGridConsultas').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });

        }
    };

    </script>
}