@using TcUnip.Web.Models.Local;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
        var user = Session[TcUnip.Web.Constants.ConstSessions.usuario] as 
               TcUnip.Web.Models.Servico.Usuario;
}

@if (user != null)
{
    <h3>Bem Vindo</h3>
    @Html.ActionLink("Logout", "Logout", "Login");
}


