@model TcUnip.Web.Models.Servico.Usuario

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    <div class="container" style="width: 80%">
        <div class="row well">
            <div class="divQuadro text-center">
                <div>
                    <form>
                        <div class="form-group">
                            <input type="text" autocomplete="off" name="Email" placeholder="Email" class="caixaTexto nome">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Senha" id="senha" placeholder="Senha" class="caixaTexto senha">
                        </div>
                        <div class="divBotoes">
                            <div class="form-group">
                                <input type="button" id="btEntrar" class="btn btn-primary" value="Entrar">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $("#btEntrar").on("click", function () {
        AutenticarUsuario();
    });

    $("#senha").keyup(function (e) {
        if (e.keyCode === 13) {
            AutenticarUsuario();
        }
    });

    function AutenticarUsuario() {

        $.ajax({
            url: "@Url.Action("Autenticar", "Login")",
            type: "GET",
            data: $('form').serialize(),
            success: function (result) {
                
                var retorno = result.mensagensRetorno;
                if (retorno.Status) {
                    var url = href = '@Url.Action("Index", "Inicio", new { area = "Inicio" })';
                    window.location.href = url;
                }
                else {
                    swal({
                        title: '',
                        text: retorno.MensagemExibicao,
                        type: 'warning',
                        confirmButtonColor: '#10386B',
                        allowOutsideClick: false
                        });
                    console.log(retorno.MensagemAnalise);
                }                   
            },error: function (jqXHR, textStatus, errorThrown) {
                validacao.errorAjax(jqXHR, textStatus, errorThrown);
            }
        });
    }

</script>