@using TC_Clinica_Gerenciamento.Models.Local;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
        var user = Session[TC_Clinica_Gerenciamento.Constants.ConstSessions.usuario] as 
               TC_Clinica_Gerenciamento.Models.Servico.Usuario;
}

@if (user != null)
{
    <h3>Bem Vindo</h3>
    @Html.ActionLink("Logout", "Logout", "Login");
}


